/*poppins font import stays here*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
::placeholder {
  font-size: 1rem;
  padding-left: 10px;
  text-align: left;
  width:100%;
  color:rgb(134, 134, 134);
}



::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow:0 0 0 30px white inset !important
}

